PUBLIC_API_BASE=http://localhost:7071
PUBLIC_SITE_URL=https://www.czytelniamalucha.pl
PUBLIC_SITE_HOST=www.czytelniamalucha.pl
PUBLIC_BUSINESS_NAME=
PUBLIC_BUSINESS_NIP=
PUBLIC_BUSINESS_ADDRESS=
PUBLIC_CONTACT_EMAIL=
